<p id="notice"><%= notice %></p>

<h1>
  <h1><%= t(".title") %></h1>
</h1>

<table>
  <thead>
    <tr>
            <th>
        <%=t("activerecord.attributes.#{controller_name.singularize}.codigo") %>
      </th>
            <th>
        <%=t("activerecord.attributes.#{controller_name.singularize}.nome") %>
      </th>
            <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipos_conta.each do |tipo_conta| %>
      <tr>
        <td><%= tipo_conta.codigo %></td>
        <td><%= tipo_conta.nome %></td>
        <td><%= link_to t(".show"), tipo_conta %></td>
        <td><%= link_to t(".edit"), edit_tipo_conta_path(tipo_conta) %></td>
        <td><%= link_to t(".destroy"), tipo_conta, method: :delete, data: { confirm: t(".message_destroy") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".new"), new_tipo_conta_path %>
