<p id="notice"><%= notice %></p>
<h1><%= t(".title") %></h1>

<p>
  <strong><%=t("activerecord.attributes.#{controller_name.singularize}.codigo") %>:</strong>

  <%= @tipo_conta.codigo %>
</p>
<p>
  <strong><%=t("activerecord.attributes.#{controller_name.singularize}.nome") %>:</strong>

  <%= @tipo_conta.nome %>
</p>
<p>
  <strong><%=t("activerecord.attributes.#{controller_name.singularize}.descricao") %>:</strong>

  <%= @tipo_conta.descricao %>
</p>
<%= link_to t(".edit"), edit_tipo_conta_path(@tipo_conta) %> |
<%= link_to t(".back"), tipos_conta_path %>
