<p id="notice"><%%= notice %></p>

<h1>
  <h1><%%= <%= "t(\".title\")" %> %></h1>
</h1>

<table>
  <thead>
    <tr>
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th>
        <%%=<%= "t(\"activerecord.attributes.\#\{controller_name.singularize\}.#{attribute.name}\")"%> %>
      </th>
      <% end -%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td><%%= link_to <%= "t(\".show\")" %>, <%= singular_table_name %> %></td>
        <td><%%= link_to <%= "t(\".edit\")" %>, edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
        <td><%%= link_to <%= "t(\".destroy\")" %>, <%= singular_table_name %>, method: :delete, data: { confirm: <%= "t(\".message_destroy\")" %> } %></td>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>

<%%= link_to <%= "t(\".new\")" %>, new_<%= singular_table_name %>_path %>
